body {
    background-color: rgb(42, 23, 99);
    font: 13pt Arial;
	line-height: 2em;
}

main {
    background-color: white;
    width: 800px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.529);
	text-align: justify;
}

h1 {
    color: darkgoldenrod;
}

h2 {
    color: rgb(125, 92, 8);
}

hr {
	border-top: 1px solid darkgoldenrod;
}

strong {
	color: darkgoldenrod;
}

#textOutput {
    font: 20pt Arial;
    margin: auto;
}

a {
    color: blue;
    font-weight: bolder;
}

a:hover {
    color: darkgoldenrod;
    text-decoration: none;
}

aside {
    display: block; 
    font-size: 11pt;
	line-height: 1.5em;
	margin: 30px;
    background-color: rgb(222, 222, 222);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
